<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form>
  <tr>
    <td>username</td>
    <td><input type="text"/></td>
    </tr>
    <br>
    <tr>
        <td>Password</td>
        <td><input type="text"/></td>
        </tr>
      <br>
  <a href="https://www.jama.co.in/app/" class="button--style-red">Submit</a>
  </form>
</ion-content>
